.collection_item {
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	padding: 30rpx 25rpx;
	display: flex;
	border-top: 1rpx #E0E0E0 solid;
}

.item_left {
	width: 200rpx;
	height: 200rpx;
	background-color: skyblue;
	flex-shrink: 0;
	margin-right: 26rpx;
}

.item_right {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 5rpx 0;
}

.item_title {
	flex: 1;
	font-size: 34rpx;
	font-family: PingFang SC;
	font-weight: 800;
	color: #333333;
	margin-bottom: 22rpx;
}

.item_content {
	flex: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	font-size: 28rpx;
	font-family: PingFang SC;
	font-weight: 500;
	color: #999999;
}

.item_price {
	flex: 1;
	font-size: 32rpx;
	font-family: PingFang SC;
	font-weight: bold;
	color: #FFA345;
}

.item_avdPrice{
	color: #666666;
	font-size: 30rpx;
	font-weight: 500;
	margin-left: 9rpx;
}